<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Server=localhost;Database=Database;Trusted_Connection=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ApiKey" value="" />
    <add key="ApiUrl" value="https://api.postit.lt/" />
  </appSettings>

</configuration>